In [1]:
import pandas as pd
import numpy as np
from scipy.stats import chi2_contingency

## Assumption

#### Ho = 'Male-Female buyer rations are similar'                     
#### Ha = 'Male-Female buyer rations are not similar'

#### alpha-value = 0.05

In [2]:
data = pd.read_csv('BuyerRatio.csv')
data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [3]:
table = data.iloc[:,1:].to_numpy()
table

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]], dtype=int64)

#### In this example I am performing Chi Square - Test of Independance with two tail test.

In [4]:
test = chi2_contingency(table)
test

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [5]:
p_value = test[1]
p_value

0.6603094907091882

#### As we can see that p-value is greater than the alpha-value, Therefore we 'Fail to Reject Ho'

## Conclusion

#### Male-Female buyer rations are similar